body{
    background-color:#1F2A30;
    font-family: 'Rajdhani', sans-serif;
}

nav {
    background-color:#27292D;
}

.nav-link {
    color:#FFFFFF;
}

.nav-link:hover {
    color: #BFBFBF; /* Hover del texto */
}

h1 {
    text-align: center;
    color:#FF4655;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: rgb(196, 196, 125)
}

button {
    margin-top: 10px;
}